:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --timeline: #383838;
    --contrast4: #e4761c80;
    --contrastborder4: #e4761c;
    --contrast5: #e14c2a80;
    --contrast6: #cd104c80;
    --contrast7: #9c2c7780;
    --contrast8: #2f2519;
    --contrast9: #493f35;
    --contrast10: #fa7d09;
    --contrast11: #ff4401;
    --bg-green: #00ac69;
    --text-green: #27e09980;
    --bg-blue: #0061f2;
    --text-blue: #0061f280;
    --bg-light-blue: #00cfd5;
    --text-light-blue: #00cfd580;
    --bg-purple: #6900c7;
    --text-purple: #8b3fce80;
    --bg-orange: #f4a100;
    --text-orange: #ffc34c80;
    --bar-bg: #1d1d1d;
    --bar-red: #e81500;
    --text-red: #ff5747;
    --background:#000000;
    --cancel-button:#FF0000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
main{
    width: 100%;
    color: #d8d6d6;
}
.main-title{
    font-size: var(--h4size);
    text-align: center;
}
main section{
    width: 86%;
    margin: 25px auto;
    padding: 10px;
    background-color: var(--secondary-color);
    font-size: var(--psize);
}
.gray{
    color: var(--contrast2);
}
.subtitle{
    margin: 10px;
}
.introduction ul{
    margin: 10%;
    list-style-type: disc;
}
.title{
    font-size: var(--h4size);
}
.recentactivity-container{
    padding: 0;
}
.recentactivity-title,.progresstracker-title,.resumen-title,.graficos-title,.estadistica-title,.usuarios-title{
    text-align: center;
    border-bottom: 1px solid var(--contrast2);
}
.row-container{
    padding: 10%;
}
.row{
    display: flex;
}
.row-marker-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}
.row-marker{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
}
.row-marker-text{
    display: block;
    margin-bottom: 0.3rem;
}
.row-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    width: 70%;
}
.row-content p{
    width: 80%;
}
.bg-green{
    background-color: var(--bg-green);
}
.bg-blue{
    background-color: var(--bg-blue);
}
.bg-purple{
    background-color: var(--bg-purple);
}
.bg-orange{
    background-color: var(--bg-orange);
}
.bar-container{
    padding: 12%;
}
.bar-text{
    display: flex;
    justify-content: space-between;
}
.bar-content{
    margin:10px 0;
    display: block;
    height: 20px;
}
.bar-bg{
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    background-color: var(--bar-bg);
}
.bar-progress{
    display: block;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bar-red);
}
.orange{
    width: 40%;
    background-color: var(--bg-orange);
}
.blue{
    width: 60%;
    background-color: var(--bg-blue);
}
.light-blue{
    width: 80%;
    background-color: var(--bg-light-blue);
}
.green{
    width: 100%;
    background-color: var(--bg-green);
}
.down-container{
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}
.down-text:hover{
    cursor: pointer;
}
.down-icon{
    background-image: url('../assets/angle-down-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    rotate: -90deg;
    width: 20px;
    height: 20px;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 2%;
}
.box{
    width: 100%;
    height: 150px;
    padding: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box1{
    background-color: var(--contrast4);
}
.box2{
    background-color: var(--contrast5);
}
.box3{
    background-color: var(--contrast6);
}
.box4{
    background-color: var(--contrast7);
}
.box-content{
    display: flex;
    justify-content: space-between;
}
.box-bgtext{
    font-size: var(--h4size);
    margin-top: 10%;
}
.icon{
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;

}
.box1 .box-icon{
    background-image: url('../assets/calendar-solid.svg');
}
.box2 .box-icon{
    background-image: url('../assets/money-bill-solid.svg');
}
.box3 .box-icon{
    background-image: url('../assets/list-check-solid.svg');
}
.box4 .box-icon{
    background-image: url('../assets/message-solid.svg');
}
.grafico{
    margin: 6% 0;
    height: 300px;
    width: 100%;
}
.estadisticas-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.estadistica-item{
    background: var(--bar-bg);
    display: flex;
    height: 122px;
    padding: 3% 6%;
    justify-content: space-between;
    border-radius: 10px;
}
.estadistica-number{
    font-size: var(--h4size);
}
.estadistica-text{
    font-size: var(--psize);
}
.estadistica-number__small{
    font-size: var(--smallsize);
    display: flex;
}
.estadistica-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-purple,.item-purple2{
    border-left: 5px solid var(--text-purple);
}

.item-orange{
    border-left: 5px solid var(--text-orange);
}

.item-lightblue,.item-lightblue2{
    border-left: 5px solid var(--text-light-blue);
}

.item-green{
    border-left: 5px solid var(--text-green);
}

.item-blue{
    border-left: 5px solid var(--text-blue);
}

.estadistica-icon{
    width: 60px;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}
.item-purple .estadistica-icon{
    background-image: url('../assets/eye-solid.svg');
}
.item-purple2 .estadistica-icon{
    background-image: url('../assets/mobile-solid.svg');
}
.item-orange .estadistica-icon{
    background-image: url('../assets/users-solid.svg');
}
.item-lightblue .estadistica-icon{
    background-image: url('../assets/arrow-pointer-solid.svg');
}
.item-green .estadistica-icon{
    background-image: url('../assets/tag-solid.svg');
}
.item-blue .estadistica-icon{
    background-image: url('../assets/percent-solid.svg');
}
.item-lightblue2 .estadistica-icon{
    background-image: url('../assets/clock-solid.svg');
}
.estadistica-number__small .trending{
    width: 30px;
    height: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-right: 3px;
}
.down{
    color: var(--text-red)
}
.up{
    color: var(--text-green);
}
.down .trending{
    background-image: url('../assets/trending-down.svg');
}
.up .trending{
    background-image: url('../assets/trending-up.svg');
}
.modebar{
    display: none;
}
.usuarios-section table{
    width: 100%;
}
.usuarios-section table tr th{
    width: 33.3%;
    text-align: left;
}
.usuarios-section table .fila-impar{
    background-color: var(--bar-bg);
}
@media screen and (min-width:744px){
    .introduction ul{
        margin: 7%;
        font-size: var(--h4size);
    }
    .title{
        font-size: var(--h3size);
    }
    .introduction .gray{
        text-align: center;
        font-size: var(--h4size);
    }
    .main-title{
        font-size: var(--h3size);
    }
    .row-marker{
        flex-direction: row;
        width: 20%;
        padding-left: 1.5rem;
    }
    .row-marker-dot{
        z-index: 99999;
        margin: 0 auto;
    }
    .row-marker p{
        width: 50%;
    }
    .row-marker-text{
        font-size: var(--h4size);
    }
    .row-marker-dot{
        width: 20px;
        height: 20px;
    }
    .row-content{
        position: relative;
        width: 80%;
    }
    .bar .bar-text,.down-container,.box-container .box-text,.row-content,.row-marker-text{
        font-size: var(--h4size);
    }
    .box-bgtext{
        font-size: var(--h3size);
        margin-top: 3%;
    }
    .box{
        padding: 2%;
    }
    .box .icon{
        height: 55px;
        width: 55px;
    }
    .estadisticas-container{
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 15px;
        justify-content: space-around;
    }
    .estadistica-item{
        width: 46%;
        max-width: 350px;
        height: 150px;
        padding: 10px 3%;
    }
    .estadistica-item .estadistica-text{
        font-size: 20px;
    }
    .estadistica-number{
        font-size: var(--h3size);
    }
    .estadistica-number__small {
        font-size: var(--psize);
    }
    .usuarios-section table{
        font-size: var(--h4size);
    }
}
@media screen and (min-width:1000px) {
    .graficos-container{
        display: flex;
    }
    .box-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box{
        width: 45%;
    }
}