:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --cancel-butotn:#FF0000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
.main-container{
    margin: 20px auto;
    min-height: 70vh;
}
.title{
    font-size: var(--h4size);
    margin: 30px;
}
.element-container{
    width: 97.2222%;
    margin: 15px auto;
    height: 76px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color);
    border: 1px solid var(--contrast3);
}
.element-container p, .total-container p{
    font-size: var(--psize);
}
.element-name{
    width: 15%;
}
.price-number{
    margin: 0 15px 0 0;
}
.cantidad-container{
    width: 10%;
    color: var(--contrast3);
}
.cantidad-container > *{
    margin: 0 5px;
}
.img-product{
    width: 75px;
    height: 50px;
}
.arrow-container{
    width: 30px;
    height: 30px;
    display: block;
    background-color: var(--contrast2);
}
.arrow-up{
    height: 50%;
    width: 100%;
    display: block;
    background-image: url('../assets/angle-down-solid.svg');
    transform: rotate(180deg);
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-down{
    height: 50%;
    width: 100%;
    display: block;
    background-image: url('../assets/angle-down-solid.svg');
    transform: rotate(0);
    background-position: center;
    background-repeat: no-repeat;
}
.delete-button{
    color: var(--contrast3);
    background-color: var(--cancel-butotn);
    width: 95px;
    height: 36px;
    border-radius: 15px;
    border: none;
}
.total-container{
    display: flex;
    height: 78px;
    width: 97.2222%;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--contrast3);
}
.buy-button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    width: 131px;
    height: 36px;
    color: var(--contrast3);
}
.void-message{
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: var(--psize);
    text-align: center;
    border: 1px solid var(--contrast3);
}
.p-text{
    font-size: var(--h4size);
}
/*Tablet*/
@media screen and (min-width:744px ){
    .main-container{
        width: 72%;
    }
    .title{
        font-size: var(--h3size);
    }
    .total-container{
        width: 52.41%;
    }
    .void-message{
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width:1000px ){
    .total-container{
        width: 27.08%;
    }
    .main-container{
        width: 51.7%;
    }
    .title{
        font-size: var(--h2size);
    }
    .void-message{
        width: 300px;
        height: 300px;
        font-size: var(--h4size);
    }
    .element-container p, .element-container input{
        font-size: 20px;
    }
}