:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
.images-container{
    width: 88.3%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    position: relative;
}
.arrow-container{
    background-color: var(--background);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}
.right{
    right: 25PX;
}
.left{
    left: 25px;
}
.arrow-right{
    background-image: url('../assets/arrow-down-solid.svg');
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-left, .arrow-right{
    display: inline-block;
}
.arrow-left{
    background-image: url('../assets/arrow-down-solid.svg');
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.photo-number{
    width: 90px;
    height: 40px;
    display: flex;
    background-color: var(--background);
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin: 0 auto;
}
.photo-number p{
    font-size: var(--psize);
}
.icon-camera{
    height: 25px;
    width: 25px;
    background-image: url('../assets/Camera.svg');
}
.detail-image{
    width: 100%;
    height: 40vh;
    margin: 0 auto;
}

.small_carrusel-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 20px 0 0 0;
}
.small_carrusel-container li{
    margin: 0 25px  0 0;
}
.basic-description-container,.comment-container{
    width: 88.88888889%;
    height: 68vh;
    border: 1px solid var(--contrast3);
    padding: 20px;
    text-align: center;
}
.basic-description-container,.comment-container, .seguro-container{
    background-color: var(--secondary-color);
    margin: 50px auto;
}


.subcontainer p{
    margin: 20px 0 20px 0;
    text-align: left;
}
.specifications {
    column-count: 2;
    font-size: var(--smallsize);
    margin: 20px 0 20px 0;
}
.specifications li{
    margin: 0 0 20px 0;
    text-align: left;
}
.nombre-car, .nombre-user, .price,.comment-title{
    font-size: var(--psize);
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container1 div{
    margin: 15px;
}
.name_icon-container{
    width: 35%;
    display: block;
    text-align: center;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--contrast3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.icon-user{
    background-image: url('../assets/user-solid.svg');
    background-position: center;
    width: 65%;
    height: 65%;
    display: block; 
    background-repeat: no-repeat;
}
.gray-text{
    color: var(--contrast2);
    font-size: var(--smallsize);
}
.price,.phrase{
    margin: 5px 70px 5px 70px;
}
.comment-title{
    margin: 0 30px 0 30px;
}
.comment{
    text-align: left;
    margin: 20px 0 20px 0;
    font-size: var(--smallsize);
}
.seguro-container{
    width: 83.333%;
    margin: 0 auto;
    border: 1px solid var(--contrast3);
    padding: 20px;
}
.seguro-container > *{
    margin: 5px 0 25px 0;
}
.seguro-title,.seguro-phrase,.seguro-button{
    font-size: var(--psize);
}
.seguro-button{
    background-color: var(--contrast1);
    width: 220px;
    height: 50px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.seguro-button > * {
    margin: 0 4px 0 4px;
}
/*FORM para contacto del vendedor*/
.contacto-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}
.contacto-container > .contacto-textbox{
    margin: 20px auto;
}
.contacto-container h4{
    font-size: var(--h4size);
    margin: 20px;
}
#meInteresa{
    background-color: var(--secondary-color);
    width: 87.123%;
    height: 43vh;
    color: var(--contrast3);
    margin: 0 auto;
    padding: 20px;
}
#meinteresa:placeholder-shown{
    color: var(--contrast2);
    text-align: center;
    font-size: var(--psize);
    padding: 60px;
}
hr{
    border-color: var(--contrast2);
    margin: 20px auto 10px;
    width: 88.8%;
}
.send-button{
    width: 161px;
    height: 50px;
    background-color: var(--contrast1);
    border-radius: 20px;
    color: var(--contrast3);
    margin: 0 auto;
    border: none;
}
.contacto-textbox{
    width: 87.33%;
    height: 50px;
    color: var(--contrast3);
    font-size: var(--psize);
    border-radius: 10px;
}
.contacto-textbox::placeholder{
    padding: 15px;
}
.map-text{
    font-size: var(--h4size);
    margin: 30px;
}
.map{
    width: 83.33%;
    height: 400px;
    margin: 0 auto;
    background-image: url('../assets/mapbackground.png');
}