:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
/* .big-image{
    background-image: url('../assets/car1.png');
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
h1{
    font-size: var(--h4size);
    margin: 15px;
    display: block;
}
.component-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.images-container{
    width: 88.3%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    position: relative;
}
.image-container{
    height: 300px;
}
.detail-image{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.arrow-container{
    background-color: var(--background);
    width: 35px;
    height: 35px;
    top: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-right{
    background-image: url('../assets/arrow-down-solid.svg');
    width: 70%;
    height: 70%;
    transform: rotate(-90deg);
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-left, .arrow-right{
    display: inline-block;
}
.arrow-left{
    background-image: url('../assets/arrow-down-solid.svg');
    width: 70%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.photo-number{
    width: 90px;
    height: 40px;
    display: flex;
    background-color: var(--background);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    align-self: flex-end;
}

.photo-number{
    background-color: var(--secondary-color);
    width: 90px;
    height: 40px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.photo-number p{
    font-size: var(--psize);
}
.icon-camera{
    height: 25px;
    width: 25px;
    background-image: url('../assets/Camera.svg');
}

.small_carrusel-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 20px 0 0 20px;
    column-gap: 25px;
}
.small_carrusel-container li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Color de opacidad */
    opacity: 1; /* Opacidad inicial */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Agregar transición a la propiedad transform */
    transform: scale(1); /* Escala inicial */
  }


  
.small_carrusel-container li:hover {
  transform: scale(1.2); 
}

.small_carrusel-container li img {
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.small_carrusel-container li:hover img {
  opacity: 1; 
}

  
  .small_carrusel-container li:hover::after,
  .small_carrusel-container li.active::after {
    opacity: 0;
    transform: scale(1.5); /* Escala aumentada al pasar el mouse o cuando esté detallada */
  }
.small_carrusel-container li {
    position: relative;
    display: inline-block;
  }
.basic-description-container,.comment-container{
    
    border: 1px solid var(--contrast3);
    padding: 20px;
    text-align: center;
}
.comment-container{
    line-height: 20px;
}
.basic-description-container,.comment-container, .seguro-container,.contacto-container,.map-container{
    width: 88.88888889%;
    background-color: var(--secondary-color);
    margin: 30px auto;
}

.subcontainer{
    display: flex;
    align-items: center;
}
.comment-title{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: var(--h4size);
    width: 60%;
    line-height: 1.5;
}
.specifications {
    column-count: 1;
    font-size: var(--smallsize);
    margin: 10px 0 0 0;
}
.specifications li{
    margin: 0 0 20px 0;
    text-align: left;
}
.nombre-car{
    font-size: var(--h3size);
    margin: 20px;
}
.nombre-user{
    font-size: var(--psize);
}
.price{
    font-size: var(--h3size);
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container1 div{
    margin: 15px;
}
.name_icon-container{
    width: 35%;
    display: block;
    text-align: center;
}
.vendedor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--contrast3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.icon-user{
    background-image: url('../assets/user-solid.svg');
    background-position: center;
    width: 65%;
    height: 65%;
    display: block; 
    background-repeat: no-repeat;
}
.gray-text{
    color: var(--contrast2);
    font-size: var(--smallsize);
}
.price,.phrase{
    margin: 15px auto 0;
}

.comment{
    text-align: left;
    margin: 30px 0 20px 0;
    font-size: var(--smallsize);
    
}
.seguro-container{
    margin: 0 auto;
    border: 1px solid var(--contrast3);
    padding: 20px;
}
.seguro-container > *{
    margin: 5px 0 20px 0;
}
.seguro-phrase,.seguro-button{
    font-size: var(--psize);
}
.seguro-title{
    font-size: var(--h4size);
}
.seguro-button{
    background-color: var(--contrast1);
    width: 220px;
    height: 50px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto 15px;
    align-items: center;
    justify-content: center;
}
.seguro-button > * {
    margin: 0 4px 0 4px;
}
/*FORM para contacto del vendedor*/
.contacto-container{
    display: flex;
    flex-direction: column;
    margin: 30px auto 60px ;
    width: 88.8888889%;
    background-color: var(--secondary-color);
    border: 1px solid var(--contrast3);
}
.contacto-container > .contacto-textbox{
    margin: 20px auto;
    padding-left: 10px;
}
.contacto-container h4{
    font-size: var(--h4size);
    margin: 20px;
}
#meInteresa{
    background-color: var(--secondary-color);
    width: 87.123%;
    height: 43vh;
    color: var(--contrast3);
    margin: 0 auto;
    padding: 20px;
}
#meinteresa:placeholder-shown{
    color: var(--contrast2);
    text-align: center;
    font-size: var(--psize);
    padding: 60px;
}
hr{
    border-color: var(--contrast2);
    margin: 20px auto 10px;
    width: 88.8%;
}
.send-button{
    width: 161px;
    height: 50px;
    background-color: var(--contrast1);
    border-radius: 20px;
    color: var(--contrast3);
    margin: 0 auto 20px;
    border: none;
}
.contacto-textbox{
    width: 87.33%;
    height: 50px;
    color: var(--contrast3);
    font-size: var(--psize);
    border-radius: 10px;
}
.contacto-textbox::placeholder{
    padding: 15px;
}
.map-text{
    font-size: var(--h3size);
    margin: 30px 0 15px 30px;
}
.map{
    width: 88.8888889%;
    height: 400px;
    margin: 0 auto;
    /*background-image: url('../assets/mapbackground.png');*/
}

/*-------------------------------------------------TABLET media querys-------------------------------------------------*/
@media screen and (min-width: 500px) {
    .image-container{
        height: 390px;
    }
    .detail-image{
        height: 100%;
    }
    .comment{
        line-height: 2.5;
    }
    .specifications,.gray-text{
        font-size: var(--psize);
    }
    .price{
        margin-bottom: 15px;
    }
    h1{
        font-size: var(--h1size);
        margin: 15px 60px;
    }
}
@media screen and (min-width: 744px) {
    .image-container, .component-container{
        height: 500px;
        max-width: 613px;
        margin: 0 auto;
    }
    .comment,.seguro-container{  
        line-height: 35px;
        font-size: var(--psize);
    }
    .map, .contacto-container{
        width: 82.3924%;
    }
}
/*---------------------------------------------------------Desktop media querys---------------------------------------------------------*/
@media screen and (min-width: 1000px) {
    .main1{
        width: 55%;
    }
    .main2{
        width: 30%;
    }
    .comment{
        line-height: 1.8;
    }
    .specifications,.gray-text,.comment,.seguro-phrase{
        font-size: var(--psize);
    }
    .specifications{
        padding: 15px 50px;
    }
    .price,.nombre-car,.seguro-title,.comment-title{
        font-size: var(--h3size);
    }
    .seguro-button{
        font-size: var(--h4size);
        width: 300px;
        height: 60px;
        border-radius: 25px;
    }
    .seguro-button img{
        width: 30px;
        height: 30px;
    }
    .image-container, .component-container,.images-container{
        height: 500px;
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
    }
    .small_carrusel-container{
        width: 100%;
        margin: 20px auto 10px ;
    }
    .map{
        height: 838px;
    }
    .main-container{
        display: flex;
        justify-content: space-evenly;
    }
    h2{
        margin-top: 50px;
    }
}