:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--contrast3);
    font-size: 62.5%;
}
a{
    color: var(--contrast3);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav h4{
    display: none;

}
header nav{
    width: 36%;
}
.logo-container{
    display: block;
    width: 138px;
    height: 43px;
    margin: 10px auto;
}
.logo-container .logo-icon{
    background-image: url('/assets/Logo.png');
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
}
.menu_bar{
    display: none;
}
header nav ul{
    overflow: hidden;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 20px;
    display: block; 
}
header nav ul li a:hover{
    background: var(--contrast2);
}
/*Cuenta menu desplegable*/
.cuenta-list li{
    float: left;
}
.cuenta-list li a{
    display: block;
}
.cuenta-list li a:hover{
    background: var(--contrast2);
}
.cuenta-list{
    display: flex;
    flex-direction: column;
    width: 74%;
    height: 80vh;   
    left: -100%;
    top: 3%;
    background: var(--background);
    margin: auto ;
    position: fixed;
    font-size: var(--psize);
}
.cuenta-list li{
    padding: 20px;
}
.cuenta-title{
    font-size: var(--h4size);
    margin: 5px 0 0 20px;
    font-weight: bold;
}
.option-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.buscador-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.buscador{
    background-image: url('/assets/magnifying-glass-solid.svg');
    background-size: contain;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    text-decoration: none;
}
.buscador-input{
    border: none;
    background: none;
    outline: none;
    color: var(--contrast3);
    float: left;
    line-height: 45px;
    transform: .3s;
    width: 0;
}


/*footer styles*/

.logo-social_media{
    display: flex;
    flex-direction: column;
}
.social_media-container{
    width: 88.88%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 370px;
}
.link > .facebook-icon, .link > .insta-icon,.link > .linkedin-icon, .link > .twitter-icon,
.link> .youtube-icon, .link>.tiktok-icon {
    display: block;
    width: 45px;
    height: 45px;
}
.facebook-icon, .insta-icon,.linkedin-icon,.twitter-icon,
.youtube-icon, .tiktok-icon {
background-size: contain;
background-repeat: no-repeat;
}

.facebook-icon{
    background-image: url('/assets/facebook.svg');
    height: 100%;
    width: 100%;
}
.insta-icon{
    background-image: url('/assets/instagram.svg');
    height: 100%;
    width: 100%;
}
.linkedin-icon{
    background-image: url('/assets/linkedin.svg');
    height: 100%;
    width: 100%;
}
.twitter-icon{
    background-image: url('/assets/twitter.svg');
    height: 100%;
    width: 100%;
}
.youtube-icon{
    background-image: url('/assets/youtube.svg');
    height: 100%;
    width: 100%;
}
.tiktok-icon{
    background-image: url('/assets/tiktok.svg');
    height: 100%;
    width: 100%;
}
.list-footer{
    font-size: var(--psize);
    padding: 15px 0 25px 30px;
    column-count: 1;
}
.list-footer li::before {
    content: "•";
    color: var(--contrast3); 
  }
  
.copy{
    text-align: center;
    font-size: var(--psize);
    margin: 0 0 25px 0;
    word-wrap: break-word;
    max-width: 150px;
}
/*Tablet*/
@media screen and (min-width:744px){
    .list-footer{
        column-count: 2;
    }
    .copy-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header{
        flex-direction: row;
        padding: 20px 0 0 20px;
    }
    .logo-social_media{
        flex-direction: row;
    }
}
/*desktop*/
@media screen and (min-width:1440px){
    footer{
        width: 100%;
        display: flex;
    }
    
}

/*Buscador responsive*/
@media screen and (min-width:320px ){
    .buscador-container:hover > .buscador-input{
        width: 70px;
    }
    .buscador-container:hover > .buscador{
        display: none;
    }
}
@media screen and (min-width:744px){
    .buscador-container:hover > .buscador-input{
        width: 300px;
    }
    .buscador-container:hover > .buscador{
        display: block;
    }
}
@media screen and (min-width:1440px){
    .buscador-container:hover > .buscador-input{
        width: 600px;
    }
}


/*Navbar responsive*/
@media screen and (max-width:800px ) {
    /*Elementos que aparecen*/
    header nav {
        width: 74%;
        height: 80vh;
        left: -100%;
        background: var(--background);
        margin: 0;
        position: fixed;
    }
    .menu_bar{
        display: block;
        width: 45px;
        height: 45px;
    }
    
    /*Elementos que desaparecen*/
    header nav ul li {
        display: block;
        float: none;
        font-size: var(--psize);
    }
    header nav ul li a:hover{
        background: var(--contrast2);
    }
    h4{
        font-size: var(--h4size);
        margin: 0 auto;
    }
    nav h4{
        display: block;
        margin: 5px 0 0 20px;
    }
    nav ul{
        margin-top: 5px;
    }
    .bt-menu{
        width: 45px;
        height: 45px;
    }
    .icon{
        width: 45px;
        height: 45px;
    }
    .icon-menuburguer{
        background-image: url('/assets/bars-solid.svg');
        width: 45px;
        height: 45px;
        display: block;
        background-size: cover;
    }
}










