:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
.container-grid{
    width: 88.88%;
    height: 391px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 'sugeridos sugeridos'
                'recientes accesorios'
                'recientes industriales';
    grid-column: auto;
}
.sugeridos-container, .recientes-container, .accesorios-container, .industriales-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sugeridos-container p, .recientes-container p, .accesorios-container p, .industriales-container p {
    margin: 5px;
    z-index: 1;
}
.sugeridos-container{
    position: relative;
    grid-area: sugeridos;
    background-image: url('../assets/coches-sugeridos.png');
    background-size: cover;
    background-position: center;
    font-size: var(--h3size);
}
.recientes-container{
    position: relative;
    grid-area: recientes;
    background-image: url('../assets/mas-recientes.png');
    background-size: cover;
    background-position: center;
    font-size: var(--h3size);
}
.accesorios-container{
    position: relative;
    grid-area: accesorios;
    background-image: url('../assets/accesorios.png');
    background-size: cover;
    background-position: center;
    font-size: var(--h3size);
}
.industriales-container{
    position: relative;
    grid-area: industriales;
    background-image: url('../assets/vehiculos-industriales.png');
    background-size: cover;
    background-position: center;
    font-size: var(--h3size);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 0.3s;
}
.sugeridos-container:hover .overlay, .recientes-container:hover .overlay, .accesorios-container:hover .overlay, .industriales-container:hover .overlay {
    opacity: 0;
}
.container-grid p {
    margin: 10px;
}

/*
TABLET STYLES
*/
@media screen and (min-width:744px){
    .container-grid{
        height: 544px;
        width: 91.3%;
    }
    .container-grid{
        height: 70vh;
        width: 93%;
        grid-template-areas: 'sugeridos sugeridos '
                             'sugeridos sugeridos '
                             'recientes accesorios'
                             'recientes industriales';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .industriales-container{
        grid-area: industriales;
    }
    .accesorios-container{
        grid-area: accesorios;
    }
    .recientes-container{
        grid-area: recientes;
    }
    .sugeridos-container{
        grid-area: sugeridos;
    }

    .sugeridos-container, .recientes-container, .accesorios-container, .industriales-container{
        font-size: var(--h2size);
    }
}
/*
DESKTOP STYLES
*/
@media screen and (min-width:1000px){
    .container-grid{
        height: 55vh;
        width: 93%;
        grid-template-areas: 'sugeridos sugeridos recientes recientes'
                            'sugeridos sugeridos accesorios industriales';
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .industriales-container{
        grid-area: industriales;
    }
    .accesorios-container{
        grid-area: accesorios;
    }
    .recientes-container{
        grid-area: recientes;
    }
    .sugeridos-container{
        grid-area: sugeridos;
    }
    
}
