:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --cancel-butotn:#FF0000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    justify-content: center;
}
.carimage-container{
    display: none;
}
.content-container{
    width: 83.33%;
    height: 80.75%;
    margin: 0 auto;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--contrast3);
    padding: 5px;
    align-self: center;
    justify-items: center;
}
.form-register{
    height: 750px;
}
.textbox{
    width: 91.333%;
    height: 30px;
    border-radius: 10px;
    padding: 15px;
    font-size: var(--psize);
    margin: 0 auto;
    color: var(--contrast3);
}
.button{
    width: 60%; 
    margin: 0 auto;
    height: 35px;
    border-radius: 20px;
    color: var(--contrast3);
    background-color: var(--contrast1);
    font-size: var(--psize);
    border: none;
}
.secondary{
    background-color: var(--contrast3);
    color: var(--contrast1);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    column-gap: 15px;
    height: 25px;
}
.change-password-link ,.terms-link{
    font-size: var(--psize);
}
.google-icon{
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../assets/google.svg');
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (min-width: 744px) {
    .content-container{
        width: 74.32%;
        height: 66.19%;
    }
    .button{
        width: 65%;
        height: 25px;
        font-size: var(--psize);
        margin: 10px auto;
    }
    .change-password-link, .terms-link{
        font-size: var(--psize);
    }
    .textbox{
        font-size: var(--psize);
        height: 35px;
        margin: 15px auto;
    }
    body > a {
        width: 120px;
        height: 40px;
        margin: 15px auto;
    }
    .logo-container{
        width: 100%;
        height: 100%;
    }
    h4{
        font-size: var(--h3size);
    }
}
@media screen and (min-width: 1000px) {
    .form{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .content-container{
        display: flex;
        height: 85vh;
    }
    h4{
        font-size: var(--h4size);
    }
    .textbox{
        height: 35px;
    }
    body > a {
        width: 150px;
        height: 50px;
        margin: 15px auto;
    }
    .button{
        width: 75%;
    }
    .carimage-container{
        display: block;  
        background-size: cover;   
    }
    .carimage-container,.form{
        width: 50%;
        height: 100%;
    }
}

/*Registro html*/
.condiciones-checkbox{
    display: flex;
    margin: 0 auto;
    width: 91.333%;
    justify-content: center;
    column-gap: 10px;
    max-width: 400px;
}

.change-password-link, .terms-link{
    text-decoration: underline;
    margin: 15px auto;
}
.change-password-link:hover, .terms-link:hover{
    cursor: pointer;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.condiciones-checkbox label{
    font-size: var(--psize);
}