:root {
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background: #000000;
    --cancel-butotn: #FF0000;
    --h1size: 48.8px;
    --h2size: 39.1px;
    --h3size: 31.3px;
    --h4size: 25px;
    --psize: 15px;
    --smallsize: 12.8px;
  }

  input{
    color: var(--contrast3);
  }
  main{
    margin-top: 20px;
  }
#perfil,#notificaciones, #privacidad, #contrasena, #transacciones, #busqueda, #email, #cerrar-sesion, #ayuda{
  background-color: var(--secondary-color);
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}
/* Estilos para la sección de Perfil */
#perfil h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
  p{
    font-size: var(--psize);
  }
  #perfil form {
    width: 100%;
    margin-top: 20px;
  }
  
  #perfil label {
    display: block;
    font-size: var(--psize);
    margin-bottom: 5px;
  }
  
  #perfil input,
  #perfil select {
    width: 100%;
    padding: 10px;
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  
  #perfil button {
    background-color: var(--contrast1);
    color: white;
    padding: 10px 20px;
    font-size: var(--psize);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Estilos para la sección de Notificaciones */
  #notificaciones ul {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  
  #notificaciones li {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: var(--psize);
  }
  
  #notificaciones h3 {
    font-size: var(--h3size);
    margin-bottom: 10px;
  }
  
  #notificaciones p {
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  
  /* Estilos para la sección de Privacidad */
  #privacidad h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
  
  #privacidad p {
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  
  #privacidad ul {
    font-size: var(--psize);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos para la sección de Contraseña */
  #contrasena h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
  
  #contrasena form {
    width: 100%;
    margin-top: 20px;
  }
  
  #contrasena label {
    display: block;
    font-size: var(--psize);
    margin-bottom: 5px;
  }
  
  #contrasena input {
    width: 100%;
    padding: 10px;
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  #contrasena button{
    background-color: var(--contrast1);
    color: var(--contrast3);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 35px;
  }
  
  /* Estilos para la sección de Transacciones */
  #transacciones h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
 #transacciones table{
  width: 100%;
  font-size: var(--psize);
 }
 #transacciones table .fila-impar{
  background-color: rgb(66, 66, 66);
 }


  #transacciones ul {
    font-size: var(--psize);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos para la sección de Búsqueda */
  #busqueda h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
  
  #busqueda form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: var(--psize);
    row-gap: 10px;
  }
  #busqueda form span {
    width: 80%;
  }
  #busqueda form input{
    height: 30px;
  }
  #busqueda button{
    background-color: var(--contrast1);
    border-radius: 10px;
    color: var(--contrast3);
    height: 30px;
    border: none;
    width: 150px;
  }
  #busqueda input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  
  /* Estilos para la sección de Email */
  #email h2 {
    font-size: var(--h3size);
    margin-bottom: 20px;
  }
  
  #email form {
    width: 100%;
    margin-top: 20px;
  }
  
  #email label {
    display: block;
    font-size: var(--psize);
    margin-bottom: 5px;
  }
  
  #email textarea {
    width: 100%;
    padding: 10px;
    font-size: var(--psize);
  }
  #email li{
    display: flex;
    column-gap: 10px;
    margin: 20px;

  }
  .check{
    width: 15px;
    height: 15px;
  }
  #email button {
    background-color: var(--contrast1);
    color: white;
    padding: 10px 20px;
    font-size: var(--psize);
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 10px;
  }

  /* Estilos para la sección de Cerrar Sesión */
  #cerrar-sesion {
    text-align: center;
  }
  
  #cerrar-sesion a {
    background-color: var(--contrast1);
    color: white;
    padding: 10px 20px;
    font-size: var(--psize);
    border: none;
    margin: 20px auto;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }
  

#ayuda ul {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  
  #ayuda li {
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
  }
  
  #ayuda h3 {
    font-size: var(--h3size);
    margin-bottom: 10px;
  }
  
  #ayuda p {
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  
  #ayuda form {
    width: 100%;
    margin-top: 20px;
    display: inline;
  }
  
  #ayuda label {
    display: block;
    font-size: var(--psize);
    margin-bottom: 5px;
  }
  
  #ayuda input,
  #ayuda textarea {
    width: 100%;
    padding: 10px;
    font-size: var(--psize);
    margin-bottom: 10px;
  }
  #ayuda textarea{
    background-color: var(--secondary-color);
    color: var(--contrast3);
  }
  ol li {
    font-size: var(--psize);
  }
  h4{
    font-size: var(--h4size);
  }

  #ayuda button {
    background-color: var(--contrast1);
    color: white;
    padding: 10px 20px;
    font-size: var(--psize);
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 10px;
  }
  