:root{
    --primary-color: #D9A13B;
    --secondary-color: #0D0D0D;
    --tertiary-color: #F2CF66;
    --contrast1: #0085FF;
    --contrast2: #8C8C8C;
    --contrast3: #F2F2F2;
    --background:#000000;
    --h1size:48.8px;
    --h2size:39.1px;
    --h3size:31.3px;
    --h4size:25px;
    --psize:15px;
    --smallsize:12.8px;
}

.plans-container--slider{
    display: flex;
    white-space: nowrap;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
    margin: 20px auto;
}
.plans-container--slider > * {
    margin: 0 20px;
}
.plans-container--card{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    text-align: center;
    width: 83.3333%;
    max-width: 430px;
    height: 350px;
    margin: 40px 20px;
    padding: 20px 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card > p {
    margin: 15px 0 5px 0;
}
.plan-info-container{
    margin: 0 0 15px 0;
}
.plan-info-container > *{
    margin: 5px;
}
.name-plans{
    width: 250px;
    height: 50px;
    padding: 6px;
    line-height: 40px;
    font-size: var(--h4size);
    border-radius: 8px;
    color: var(--just-white);
}
.standard .name-plans{
    background-color: var(--primary-color);
}
.basic .name-plans{
    background-color: var(--contrast1);
}
.premiun .name-plans{
    background: linear-gradient(90deg, #1D0537 0%, rgba(39, 0, 88, 0.947917) 0.01%, rgba(206, 0, 255, 0) 96.87%);
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--contrast3);
}
.plan-card--price{
    padding: 5px 0;
    font-size: 70px;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--contrast3);
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    bottom: 30px;
    left: 10px;
}
/* .plan-card--saving {
font-size: 1.2rem;
color: var(--contrast3);
} */
.plan-card--ca{
    width: 280px;
    height: 52px;
    display: block;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    font-size: var(--h4size);
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: var(--contrast3);
}
main h3{
    font-size: var(--h3size);
    margin: 20px;
    text-align: center;
}
.basic .plan-card--ca{
    border:  1px solid var(--contrast1);
}
.premiun .plan-card--ca{
    border: 1px solid #A300CA;
}
.phrase-container{
    background-image: url('../assets/segurosbackground.png');
    width: 83.33%;
    height: 250px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    font-size: var(--h3size);
    text-align: center;
}
@media screen and (min-width:740px){
    .phrase-container, main h3 {
     font-size: var(--h2size);
    }
    .phrase-container{
        width: 94%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:1000px){
    .phrase-container, main h3 {
     font-size: var(--h1size);
    }
}